<h1>줄인 링크 리스트</h1>
<div>
    <a href="/links/new">새로 만들기</a>
</div>
<div>
    <% @links.each do |link| %>

        <p> <a href="/<%=link.short %>">[바로가기]</a> | <a href="/links/<%= link.id %>" data-method="delete" data-confirm="삭제 하시겠습니까?">[삭제하기]</a>  <%= link.short %>  => <%= link.long %>  </p>

    <% end %>
</div>